<?xml version="1.0"?>
<log4net>
  <root>
    <level value="INFO" />
    <appender-ref ref="FileInfo" />
    <appender-ref ref="TFSInfo" />
    

  </root>
  <!--levels: INFO, DEBUG, WARN, ERROR, FATAL-->

  <logger name="FileInfo">
    <priority value="INFO" />
    <level value="INFO" />
    <appender-ref ref="FileInfo" />
  </logger>
  <logger name="TFSInfo">
    <priority value="INFO" />
    <level value="INFO" />
    <appender-ref ref="TFSInfo" />
  </logger>



  <appender name="FileInfo" type="log4net.Appender.RollingFileAppender">
    <file value="E:\\myproject\\msbuild\\file\\FileInfo.txt" />
    
    <staticLogFileName value="true" />
    <appendToFile value="true" />
    <!--按照文件的大小进行变换日志文件-->
    <param name="RollingStyle" value="Composite" />
    <!--单个文件最大数量-->
    <param name="MaximumFileSize" value="20MB"/>
    <!--保留的log文件数量 超过此数量后 自动删除之前的-->
    <param name="MaxSizeRollBackups" value="15" />
    <!--最小锁定模型以允许多个进程可以写入同一个文件-->
    <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="INFO" />
      <param name="LevelMax" value="WARN" />
    </filter>
  </appender>
  <appender name="TFSInfo" type="log4net.Appender.FileAppender">
    <file value="E:\\myproject\\msbuild\\file\\TFSInfo.txt" />
    
    
    <appendToFile value="true" />
    <!--按照文件的大小进行变换日志文件-->
    
    <!--单个文件最大数量-->
    
    <!--保留的log文件数量 超过此数量后 自动删除之前的-->
    
    <!--最小锁定模型以允许多个进程可以写入同一个文件-->
    <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%F  %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="INFO" />
      <param name="LevelMax" value="WARN" />
    </filter>
  </appender>

  
</log4net>
